.DS_Store*
tags
*.so
*.dylib
*.a
**/build/
*dump.rdb
*php.zip

server/src/protobuf/
!server/src/protobuf/protobuf-2.6.1.tar.gz

server/run
!server/run/startall.sh
!server/run/restart.sh
!server/run/monitor.sh


server/src/hiredis/hiredis-master/
server/src/db_proxy_server/adapters/
server/src/log4cxx/apache-log4cxx-0.10.0/
server/src/log4cxx/include/
server/src/log4cxx/lib/
server/src/log4cxx/share/
server/src/slog/lib/
server/src/slog/include/
server/src/base/pb/google/
