.DS_Store*

auto_setup/im_server/dump.rdb
auto_setup/im_server/im-server-1/
auto_setup/im_web/tt/
auto_setup/nginx_php/php/php-5.6.6.tar.gz
auto_setup/nginx_php/php/php-5.6.6/
auto_setup/redis/dump.rdb
auto_setup/redis/redis-2.8.19/
server/run/daeml
server/run/db_proxy_server/
server/run/file_server/
server/run/http_msg_server/
server/run/login_server/
server/run/msfs/
server/run/msg_server/
server/run/push_server/
server/run/route_server/
server/src/base/CMakeCache.txt
server/src/base/CMakeFiles/
server/src/base/Makefile
server/src/base/libbase.a
server/src/base/pb/google/
server/src/base/pb/lib/
server/src/base/slog/lib/
server/src/db_proxy_server/CMakeCache.txt
server/src/db_proxy_server/CMakeFiles/
server/src/db_proxy_server/Makefile
server/src/db_proxy_server/adapters/
server/src/db_proxy_server/cmake_install.cmake
server/src/db_proxy_server/db_proxy_server
server/src/file_server/CMakeCache.txt
server/src/file_server/CMakeFiles/
server/src/file_server/Makefile
server/src/file_server/cmake_install.cmake
server/src/file_server/file_server
server/src/hiredis/hiredis-master/
server/src/http_msg_server/CMakeCache.txt
server/src/http_msg_server/CMakeFiles/
server/src/http_msg_server/Makefile
server/src/http_msg_server/cmake_install.cmake
server/src/http_msg_server/http_msg_server
server/src/log4cxx/apache-log4cxx-0.10.0/
server/src/log4cxx/include/
server/src/log4cxx/lib/
server/src/login_server/CMakeCache.txt
server/src/login_server/CMakeFiles/
server/src/login_server/Makefile
server/src/login_server/cmake_install.cmake
server/src/login_server/login_server
server/src/msfs/CMakeCache.txt
server/src/msfs/CMakeFiles/
server/src/msfs/Makefile
server/src/msfs/cmake_install.cmake
server/src/msfs/msfs
server/src/msg_server/CMakeCache.txt
server/src/msg_server/CMakeFiles/
server/src/msg_server/Makefile
server/src/msg_server/cmake_install.cmake
server/src/msg_server/msg_server
server/src/protobuf/bin/
server/src/protobuf/include/
server/src/protobuf/lib/
server/src/protobuf/protobuf-2.6.1/
server/src/push_server/CMakeCache.txt
server/src/push_server/CMakeFiles/
server/src/push_server/Makefile
server/src/push_server/cmake_install.cmake
server/src/push_server/push_server
server/src/route_server/CMakeCache.txt
server/src/route_server/CMakeFiles/
server/src/route_server/Makefile
server/src/route_server/cmake_install.cmake
server/src/route_server/route_server
server/src/slog/CMakeCache.txt
server/src/slog/CMakeFiles/
server/src/slog/Makefile
server/src/slog/cmake_install.cmake
server/src/slog/include/
server/src/slog/lib/
server/src/slog/libslog.so
server/src/tools/daeml

